#input-form {
  width: 28rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-form__col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-form__label {
  font-weight: 500;
}

.input-form__input {
  padding: 12px 1rem;
  background-color: transparent;

  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.input-form__input:focus {
  border: 1px solid #aaa;
  background-color: #f9f9f9;
}

.input-form__error {
  margin: 0;
  color: #007fff;
  font-weight: 500;
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #input-form {
    width: 36rem;
  }
}

@media screen and (max-width: 767px) {
  #input-form {
    width: 100%;
    font-size: 12px;
  }
}
